<div class="container center title_sub" style="padding-top:5%">
    <div class="row">
        <div class="col s12">
            <% if current_user.tests.find_by(kind: 2, answered: true).present? %>
            <% if current_user.tests.find_by(kind: 3, answered: true).present? %>
            <h2 style="display: inline"><b>¡Tests de afinidad social completados!</b></h2>
            <% else %>
            <h2 style="display: inline"><b>Test de afinidad social 2/2</b></h2>
            <% end %>
            <% else %>
            <h2 style="display: inline"><b>Test de afinidad social 1/2</b></h2>
            <% end %>
            <hr style="height: 5px;background-color: #2196F3;border-color: transparent !important;">
            <p class="flow-text" align="center">Los test de afinidad social permitirán conocer sus preferencias, indiferencias y rechazos en relación al resto de sus compañeros de sección. Esta información será relevante para la generación de su equipo de trabajo, donde por medio de estos dos tests, se consideraran sus afinidades para la conformación de grupos.</p>
            <% if current_user.tests.find_by(kind: 2, answered: true).present? %>
            <% if current_user.tests.find_by(kind: 3, answered: true).present? %>
            <div class="card-panel blue lighten-2">
                <strong class="white-text bold">TESTS RESPONDIDOS: Pronto sabrá cual es su equipo de trabajo</strong>
            </div>
            <% else %>
            <%= link_to "Ir a la segunda parte del test social", test_social_test_path , :class => "btn btn-large blue waves-effect waves-light"%>
            <% end %>
            <% else %>
            <%= link_to "Ir a la primera parte del test social", test_social_test_path , :class => "btn btn-large blue waves-effect waves-light"%>
            <% end %>
        </div>
    </div>
</div>